/* ======================== */
/*      ESTILO GERAL       */
/* ======================== */

body {
  background-color: #D9D9D9;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}



img {
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
}

button {
  background-color: #018DBA;
  color: white;
  font-family: 'Sansita One';
  margin: auto;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

/* ======================== */
/*         HEADER          */
/* ======================== */

header {
  background-color: #40A798;
  font-family: 'Sansita One';
  color: white;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 160px;
  border: none;
}

/* ==========================================
   TÍTULOS
========================================== */

h1.real {
  text-align: center;
  font-family: 'Sansita One';
  font-size: 30px;
  color: #FF5C00;
  margin: 0;
}

h1 {
  color: #40A798;
  text-align: center;
  font-size: 40px;
  font-family: 'Sansita One';
  text-shadow:
    -1px -1px 0 #827B77,
    1px -1px 0 #827B77,
    -1px 1px 0 #827B77,
    1px 1px 0 #827B77;
}


/* ======================== */
/*      CONTEÚDO GERAL     */
/* ======================== */

.box-1 {
  display: grid;
  align-items: center;
  grid-template-columns: 0fr 2.2fr 0.7fr 0.7fr 0.7fr 0.7fr;
  background-color: #40A798;
  line-height: 1.3;
  text-align: left;
}

.box-1 p {
  text-shadow: black 4px 4px 4px;
}

.box {
  background-color: #018DBA;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  height: 74px;
  font-family: 'Play Pretend';
}

.options {
  font-size: 22px;
}

/* ======================== */
/*          FOOTER         */
/* ======================== */

footer {
  background-color: #40A798;
  font-family: 'Sansita One';
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  font-size: 25px;
  width: 100%;
  height: 5%;
  text-shadow: black 4px 4px 4px;
}

footer h1 {
  width: 100%;
  text-align: center;
  font-family: 'Sansita One';
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

footer img {
  height: 60px;
  transition: transform 0.3s;
}

footer img:hover {
  transform: scale(1.1);
}

/* ======================== */
/*       BOX CLASS 1       */
/* ======================== */

.box_class1 {
  width: 80%;
  height: 300px;
  background-color: #40A798;
  display: grid;
  grid-template-areas: " lb img rb ";
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 30%;
  align-items: center;
  border-radius: 20px;
  text-align: justify;
  font-family: 'Sansita One';
  color: white;
  font-size: 22px;
  line-height: 0.9;
  margin: 30px auto;
}

.box_class1 #left_button{
  grid-area: lb;
}

.box_class1 #right_button{
  grid-area: rb;
}

.box_class1 img {
  grid-area: img;
  max-width: 20vw;
  max-height: 20vh;
  object-fit: contain; /* mantém proporção sem cortar */
  border-radius: 10px;
}

.box_class1 button {
  background-color: #FF5C00;
  color: white;
  font-family: 'Sansita One';
  font-size: 24px;
  border: none;
  margin: auto;
  height: 5vh;
  width: 5vw;
  border-radius: 10px;
  padding: 10px 20px;
}

.box_class1 button:hover {
  background-color: #923702;
  cursor: pointer;
}

/* ======================== */
/*       BOX CLASS 2       */
/* ======================== */

.box_class2 {
  width: 100%;
  height: 300px;
  background-color: #FF5C00;
  display: grid;
  align-items: center;
  grid-template-columns: 0.3fr 0.2fr 0.3fr 0.1fr;
  text-align: justify;
  font-family: 'Sansita One';
  color: white;
  font-size: 24px;
  line-height: 0.9;
  margin: 30px 0;
}

.box_class2 div {
  padding: 20px 0;
  background-color: #FF5C00;
}

.box_class2 div img {
  height: 250px;
}

.box_class2 h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
}

/* ======================== */
/*       BOX CLASS 3       */
/* ======================== */

.box_class3 {
  display: grid;
  grid-template-areas: "p button" ;
  align-items: center;
}

.box_class3 p {
  grid-area: p;
  padding-left: 60px;
  font-size: 56px;
  font-family: 'Sansita One';
  color: #40A798;
}

.box_class3 button {
  background-color: #40A798;
  font-family: 'Sansita One';
  transform: scale(1.6);
  width: 15vw;
  border: none;
}

.box_class3 a{
  grid-area: button;
  
}

/* ==========================================
   RESPONSIVIDADE (TABLETS E CELULARES)
========================================== */

@media (max-width: 1024px) {

  .box-1 {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1rem;
  }

  .box {
    flex-direction: colum;
    height: auto;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: 10px;
    justify-content: center;
  }

  .box > * {
    flex: 0 0 48%;
    box-sizing: border-box;
  }

  header {
    font-size: 3rem;
    height: auto;
    padding: 1rem 0;
  }


  footer {
    grid-template-columns: repeat(1, 1fr);
    font-size: 20px;
    gap: 10px;
    padding: 1rem;
    text-align: center;
    width: auto;
  }

  .box_class1,
  .box_class2 {
    grid-template-columns: 1fr;
    height: auto;
    padding: 1rem;
    width: auto;
  }
  
  .box_class3 p{
    grid-template-areas: "p button button";
    font-size: 18px;
    margin-right: 50px;
  }
  
  .box_class3 button{
    margin-right: 50px;
    font-size: 10px;
    width: 25vw;
  }

  .box_class3 p {
    padding: 0;
    font-size: 32px;
    width: auto;
  }
}

@media (max-width: 600px) {

    .box {
    flex-direction: column;
  }

  .options,
  .box_class1,
  .box_class2,
  .box_class3 {
    font-size: 18px;
  }

  .box_class3 p{
    grid-template-areas: "p button button";
    font-size: 18px;
    margin-right: 50px;
  }
  
  .box_class3 button{
    margin-right: 50px;
    font-size: 10px;
    width: 25vw;
  }

  h1 {
    font-size: 22px;
  }

  footer {
    grid-template-columns: 1fr;
    font-size: 16px;
    text-align: center;
  }
}
